#topbar1 {
  background-color: #65AB2E;
  height: 50px;
  line-height: 50px;
  color: white; 
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

#topbar2 {
  height: 80px;
  line-height: 80px;
  font-size: large;
  font-weight: bold;
  color: #3A535D;
}

.slick-prev:before, .slick-next:before {
  color: rgb(0, 0, 0) !important;
  font-size: 30px !important;
}
.slick-prev{
  left:10px !important;
  top: 70% !important;
}

.slick-prev, .slick-next{
  z-index: 1;
}

.slick-next {
  right: 25px !important;
  top: 70% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
  padding: 0;
}
