* {
  font-family: 'trebuchet MS';
  box-sizing: border-box;
}

#topbar1 {
  background-color: #65AB2E;
  height: 50px;
  line-height: 50px;
  color: white;
}

.topbarfixed {
  position: fixed;
  z-index: 1100;
  margin-top: -10px;
}

#logo {
  margin-top: 10px;
  margin-bottom: 10px;
}

#topbar2 {
  height: 80px;
  line-height: 80px;
  font-size: large;
  font-weight: bold;
  color: #3A535D;
}

#topbar3 {
  display: none;
  height: 60px;
  line-height: 40px;
  font-size: large;
  font-weight: bold;
  color: #3A535D;
  position: fixed;
  z-index: 1101;
  margin-top: -156px;
  background-color: white;
}


.fixed {
  position: fixed;
}


/* Style --> slider arrows */
.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0) !important;
  font-size: 30px !important;
}

.slick-prev {
  left: 10px !important;
  top: 70% !important;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-next {
  right: 25px !important;
  top: 70% !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
  padding: 0;
}

/* Fin style --> slider arrows */

#phare {
  display: flex;
  align-items: center;
  font-weight: bolder;
}

#phare::after {
  content: '';
  height: 10px;
  background-color: #F0F0F0;
  flex-grow: 1;
  margin-left: 20px;
}

#price {
  font-size: x-large;
  font-weight: bold;
  color: #65AB2E;
}

#miniatures {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.fas {
  float: left;
  font-size: 2em;
  padding-top: 8px;
}

h2 {
  padding-top: 20px;
  font-weight: bolder;
}

#map,
#phone,
#mail {
  padding: 30px;
  color: #606060;
}

#phone,
#mail {
  border-top: 2px solid #BBBBBB;
}

#contact-us {
  border: 2px solid #BBBBBB;
  margin-left: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

#contactbar {
  background-color: #2B545D;
  text-align: center;
}

#contactbar #contacttext {
  color: #EC8700;
  font-size: .5em;
}

#contactbar #accueil {
  color: white;
  font-size: .5em;
}

#contactform {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label {
  float: left;
  margin-left: 50px;
}

input {
  display: block;
  overflow: hidden;
}

.error {
  color: red;
}

/* Style --> Back to top arrow */
#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #65AB2E;
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  margin-right: 18px;
}

#back2Top:hover {
  background-color: #65AB2E;
  color: #3A535D;
}

/* Fin style --> Back to top arrow */